body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #353535;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin: 0;
}

.avatar {
    border-radius: 3px;
}

.overlay:before {
    opacity: .2;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAGUExURQAAAAAAAKVnuc8AAAABdFJOUwBA5thmAAAAEElEQVQI12MQYFBgcGBoAAACWADxfYADLwAAAABJRU5ErkJggg==');
}

.col {
    padding: 0;
    vertical-align: top;
}

.bold {
    font-weight: 600;
}

#container {
    width: 95%;
    max-width: 1030px;
    height: 95%;
    max-height: 700px;
}

.absolute-align-vertical {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.block {
    padding: 10px 12px;
}

.block-content {
    padding: 35px 25px;
    background-color: #333;
    border-top: 4px solid #42fb61;
    box-shadow: 0 0 12px #000;
}

#rules-list > .rule-block:not(:first-child), #staff-list > .staff-block:not(:first-child) {
    display: none;
}


.staff-member {
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.09)
}

.staff-member > * {
    display: inline-block;
    vertical-align: middle;
}

.staff-member .avatar {
    max-width: 45px;
    margin-right: 10px;
}

.rule {
    padding: 15px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.09);
}

.player.avatar {
    max-width: 80px;
}

.fa-svg-icon {
    width: 25px;
    height: 25px;
}

.info {
    padding: 25px 20px;
    border-top: 4px solid #42fb61;
}

.info > * {
    vertical-align: middle;
}

.info > .fa-svg-icon {
    margin-right: 15px;
}