/_upload/
/assets/img/backgrounds/demo/
/assets/img/backgrounds/darkrp/
/assets/img/backgrounds/jailbreak/
/data/cache/
/data/logs/
/data/music/
/data/users/
/data/config.php
/data/FILE_WRITE_CHECK_DO_NOT_REMOVE
/vendor/
/.idea/