.pure-center {
    text-align: center;
}

body {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

p {
    font-size: 2rem;
    margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
}

#load-circle {
    z-index: -1;
    display: inline-block;
    position: relative;
    width: 190px;
    height: 190px;
    background-color: rgba(255, 255, 255, 0.15);
    line-height: 190px;
    border-radius: 50%;
    overflow: hidden !important;
}

#load-circle-inner {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 190px;
    height: 190px;
    fill: #1173c3;
    clip: rect(190px 190px 190px 0px);
    -webkit-transition: clip 0.2s linear;
}

#load-circle > .avatar {
    vertical-align: middle;
}

.progress {
    font-size: 2rem;
}

.sidebar {
    width: 140px;
    height: 140px;
    vertical-align: middle;
    background-color: #1a1a1a;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: rgba(255, 255, 255, 0.3);
}

.sidebar.left {
    padding-right: 10px;
    border-right: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 0 50% 50% 0;
}

.sidebar.right {
    padding-left: 10px;
    border-left: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50% 0 0 50%;
}

.k-load-staff-block {
    margin-top: 15px;
}

.k-load-staff {
    text-align: center;
}

.k-load-staff .avatar {
    margin-bottom: 5px;
    max-width: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,.35);
}

.k-load-staff-info > span {
    display: block;
}

.k-load-staff--name {
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-load-staff--rank {
    font-size: 0.8rem;
}

.sidebar > .progress {
    display: block;
    margin-top: 4px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 36px;
}