@charset "UTF-8";

*::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}
*::-webkit-scrollbar:horizontal {
	height: 6px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.8);
	border-radius: 3px;
}

body {
	color: #fff;
	background-color: #161b2d;
}
nav {
	background-color: #0d101d;
}
main {
	padding-left: 250px;
}
code {
	background: rgba(0, 0, 0, 0.25);
	padding: 1px 3px;
	border-radius: 3px;
}
.container {
	/*margin: 0 200px 0 auto;*/
	width: 85%;
}

.true-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 50%;
}

.side-nav {
	width: 250px;
	background-color: #0d101d;
	border-right: 6px solid #1b9abc;
	overflow-x: hidden;
}
.side-nav li {
	position: relative;
}
.side-nav li.active {
	background-color: transparent;
}
.side-nav li:before, .side-nav .collapsible-header:before {
	z-index: -1;
	content: '';
	position: absolute;
	right: -100%;
	width: 100%;
	height: 100%;
	background-color: #1b9abc;
	transition: right 0.3s ease;
}
.side-nav > li:not(.no-hover):not(.no-padding):hover:before, .side-nav > li.active:not(.no-padding):before, .side-nav .collapsible-header:hover:before, .side-nav .collapsible-header.active:before {
	right: 0%;
}
.side-nav li > a {
	position: relative;
	padding: 0;
	padding-left: 20px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 1.25rem;
	font-weight: 200;
	text-transform: uppercase;
}
.side-nav li > a:hover, .side-nav .collapsible-header:hover {
	background-color: transparent;
}
.side-nav li > a > * {
	vertical-align: middle;
}
.side-nav li > a > .mdi {
	margin-right: 8px;
	font-size: 2.5rem;
}

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
	background-color: rgba(0, 0, 0, 0.3);
}
.side-nav .collapsible-body>ul:not(.collapsible)>li:hover, .side-nav .collapsible-body>ul:not(.collapsible)>li.active, .side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active {
	background-color: rgba(255, 255, 255, 0.07);
}

.card {
	background-color: #1d2234;
	border-radius: 5px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card h1 {
	margin-top: 10px;
}
.card > .avatar {
	position: absolute;
	top: -45px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	max-width: 90px;
	border: 6px solid #1d2234;
}

.avatar {
	border-radius: 20px;
	max-width: 150px;
}
.avatar.medium {
	max-width: 100px;
}
.avatar.small {
	max-width: 50px;
}
.avatar.x-small {
	max-width: 25px;
}
.avatar.circle {
	border-radius: 50%;
}
.logout:before {
	background-color: rgba(255, 0, 0, 0.5) !important;
}
h1 > * {
	vertical-align: middle;
}
h1 > .mdi {
	margin-right: 10px;
	font-size: 1.5em;
}

[type="checkbox"].filled-in:checked+label:after {
	border-color: #3a97c5;
	background-color: #3a97c5;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	padding-left: 25px;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
	border: 2px solid #2196f3;
}
.switch label input[type=checkbox]:checked+.lever {
	background-color: #5c9fff;
}
input[type=range] {
	border: 0;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after, .switch label input[type=checkbox]:checked+.lever:after, input[type=range]+.thumb, input[type=range]::-webkit-slider-thumb {
	background-color: #2196f3;
}

.btn, .btn-large {
	background-color: #1b9abc;
}
.btn:hover, .btn-large:hover {
	background-color: #21acd2;
}
.btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #137a96;
}

.modal {
	background-color: #141725;
}
.modal .modal-footer {
	background-color: #121521;
}
#materialbox-overlay {
	background-color: #161b2d;
}

.toast {
	background-color: #2196F3;
}


.users .card {
	margin-top: 60px;
}
.users .card-content {
	padding-top: 45px;
}
.users .card .card-content .name {
	color: #b9b9b9;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.users .card .btn-flat {
	width: 75%;
	color: #f7f7f7;
	border-radius: 5px;
}

.pagination li.active {
	background-color: #3a97c5;
}

.success-text {
	color: #4CAF50;
}
.warning-text {
	color: #fd2818;
}

#save-btn {
	border: none;
	background-color: transparent;
	font-size: 2rem;
}


.theme-block {
	height: 125px;
}

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
	color: rgba(255, 255, 255, 0.3);
}
.dropdown-content {
	background-color: #353b54;
}
.dropdown-content li>a, .dropdown-content li>span {
	color: #2196f3;
}


/*
	Name:       material
	Author:     Michael Kaminsky (http://github.com/mkaminsky11)

	Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)

*/
.cm-s-material.CodeMirror{background-color:#263238;color:rgba(233,237,237,1)}.cm-s-material .CodeMirror-gutters{background:#263238;color:#537f7e;border:none}.cm-s-material .CodeMirror-guttermarker,.cm-s-material .CodeMirror-guttermarker-subtle,.cm-s-material .CodeMirror-linenumber{color:#537f7e}.cm-s-material .CodeMirror-cursor{border-left:1px solid #f8f8f0}.cm-s-material div.CodeMirror-selected{background:rgba(255,255,255,.15)}.cm-s-material.CodeMirror-focused div.CodeMirror-selected{background:rgba(255,255,255,.1)}.cm-s-material .CodeMirror-line::selection,.cm-s-material .CodeMirror-line>span::selection,.cm-s-material .CodeMirror-line>span>span::selection{background:rgba(255,255,255,.1)}.cm-s-material .CodeMirror-line::-moz-selection,.cm-s-material .CodeMirror-line>span::-moz-selection,.cm-s-material .CodeMirror-line>span>span::-moz-selection{background:rgba(255,255,255,.1)}.cm-s-material .CodeMirror-activeline-background{background:rgba(0,0,0,0)}.cm-s-material .cm-keyword{color:rgba(199,146,234,1)}.cm-s-material .cm-operator{color:rgba(233,237,237,1)}.cm-s-material .cm-variable-2{color:#80cbc4}.cm-s-material .cm-type,.cm-s-material .cm-variable-3{color:#82b1ff}.cm-s-material .cm-builtin{color:#decb6b}.cm-s-material .cm-atom{color:#f77669}.cm-s-material .cm-number{color:#f77669}.cm-s-material .cm-def{color:rgba(233,237,237,1)}.cm-s-material .cm-string{color:#c3e88d}.cm-s-material .cm-string-2{color:#80cbc4}.cm-s-material .cm-comment{color:#546e7a}.cm-s-material .cm-variable{color:#82b1ff}.cm-s-material .cm-tag{color:#80cbc4}.cm-s-material .cm-meta{color:#80cbc4}.cm-s-material .cm-attribute{color:#ffcb6b}.cm-s-material .cm-property{color:#80cbae}.cm-s-material .cm-qualifier{color:#decb6b}.cm-s-material .cm-type,.cm-s-material .cm-variable-3{color:#decb6b}.cm-s-material .cm-tag{color:rgba(255,83,112,1)}.cm-s-material .cm-error{color:rgba(255,255,255,1);background-color:#ec5f67}.cm-s-material .CodeMirror-matchingbracket{text-decoration:underline;color:#fff!important}

.cm-s-material.CodeMirror {
	background-color: #1d2130;
}
.cm-s-material .CodeMirror-gutters {
	background-color: #1a1e2b;
}
.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber {
	color: #969696;
}

@media only screen and (max-width : 992px) {
	main {
		padding-left: 0;
	}
	.side-nav.fixed {
		-webkit-transform: unset;
		transform: unset;
	}
}

a.link--hover:hover {
	text-decoration: underline;
}
h5.song-title {
	display: inline-block;
	max-width: 85%;
	font-size: 1.4rem;
}
hr {
	border-color: #1b9abc;
}

#music_files .col:not(:last-child) {
	margin-bottom: 10px;
}

#music_order .select-wrapper.materialize-select {
	display: inline-block;
	margin-right: 8px;
	width: 90%;
}

div.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.select-dropdown.dropdown-content li.selected {
	background-color: rgba(0, 0, 0, 0.15);
}