{% extends 'app.twig' %}

{% block title %}Admin{% endblock %}


{% block content %}
    <div class="container hero is-fullheight is-danger">
        <div class="hero-body">
            <p>test</p>
        </div>
    </div>
{% endblock %}