<h4>Examples of gamemodes</h4>
<p>If you do not want to set a gamemode, use <code>global</code> as the gamemode to make it the default</p>

<div>
<pre style="padding: 8px;background-color: rgba(0, 0, 0, 0.25);border-radius: 3px"><code style="background-color: transparent">cinema        - Cinema
demo          - Demo Rules (if you want to test rules without applying them to any actual gamemode)
darkrp        - DarkRP
deathrun      - Deathrun
jailbreak     - Jailbreak
melonbomber   - Melon Bomber
militaryrp    - MilitaryRP
murder        - Murder
morbus        - Morbus
policerp      - PoliceRP
prophunt      - Prophunt
sandbox       - Sandbox
santosrp      - SantosRP
schoolrp      - SchoolRP
starwarsrp    - SWRP
stopitslender - Stop it Slender
slashers      - Slashers
terrortown    - TTT</code></pre></div>