.col.sm-1 {
  width: 8.3333333333%;
}

.col.sm-2 {
  width: 16.6666666667%;
}

.col.sm-3 {
  width: 25%;
}

.col.sm-4 {
  width: 33.3333333333%;
}

.col.sm-5 {
  width: 41.6666666667%;
}

.col.sm-6 {
  width: 50%;
}

.col.sm-7 {
  width: 58.3333333333%;
}

.col.sm-8 {
  width: 66.6666666667%;
}

.col.sm-9 {
  width: 75%;
}

.col.sm-10 {
  width: 83.3333333333%;
}

.col.sm-11 {
  width: 91.6666666667%;
}

.col.sm-12 {
  width: 100%;
}
