body {
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    background-color: #353535;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin: 0;
}

.avatar {
    border-radius: 3px;
}

.overlay:before {
    opacity: .2;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAGUExURQAAAAAAAKVnuc8AAAABdFJOUwBA5thmAAAAEElEQVQI12MQYFBgcGBoAAACWADxfYADLwAAAABJRU5ErkJggg==');
}

.loading-bar {
    margin-top: 10px;
    background-color: #31c3fd;
}

#container {
    width: 95%;
    max-width: 1450px;
    height: 75%;
    max-height: 700px;
}

.row, .col, .block > div {
    height: 450px;
}

.col {
    font-size: 1.1rem
}

.absolute-align-vertical {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.header {
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.header > * {
    display: inline-block;
    vertical-align: middle;
}

.col {
    padding: 0;
}

.col:not(:last-child) {
    padding-right: 5px;
}

.block {
    vertical-align: top;
}

.block-item {
    position: relative;
    background-color: rgba(15, 18, 21, 0.7);
    border-top: 1px solid #31c3fd;
}

.block-header {
    margin-bottom: 5px;
    padding: 15px 0;
    text-align: center;
}

.block-content {
    padding: 12px;
    height: 100%;
    max-height: 380px;
}

.gradient {
    background: -webkit-linear-gradient(0deg, rgba(15, 18, 21, 0.65), transparent);
    background: linear-gradient(90deg, rgba(15, 18, 21, 0.65), transparent);
}

#rules-list > .rule-block:not(:first-child), #staff-list > .staff-block:not(:first-child) {
    display: none;
}

.rule {
    padding: 12.5px 5px;
    /*margin: 8px 0;*/
}

.rule:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#staff .block-content {
    padding: 0 5px;
}

.staff-member {
    padding: 14px 0;
}

.staff-member:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.staff-member > * {
    display: inline-block;
    vertical-align: middle;
}

.staff-member .avatar {
    max-width: 45px;
}

.staff-member > div {
    margin-left: 7px;
}

.staff-member h5 {
    margin-top: -4px;
}

.info {
    padding: 16px 0;
    text-align: center;
    font-weight: 400;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.info:not(:last-child) {
    margin-bottom: 14px;
}

span.server-name {
    color: #31c3fd;
    font-weight: 600;
}

.staff-rank {
    color: #31c3fd;
}

.messages {
    margin-top: 12px;
    font-size: 1.25rem;
}