{% extends '@base/layouts/loading.twig' %}

{% block title %}Simple | K-Load{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,600">
    <link rel="stylesheet" type="text/css" href="{{ assets_theme }}/css/simple.css">
    <style>
        body:before {
            background-image: url({{assets}}/img/backgrounds/global/particles_red.jpg);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="overlay dark dots"></div>

    <div id="k-load-staff" class="sidebar fixed left vertical-center"></div>

    <div class="pure-center">
        <div id="load-circle">
            <svg id="load-circle-inner">
                <circle cx="95" cy="95" r="95"/>
            </svg>
            <img class="avatar circle" src="{{ user.avatarLarge|default(assets ~ '/img/avatar.jpg') }}">
        </div>
        <p>{{ user.name|default(lang('welcome')) }}</p>
        <span class="messages"></span>
    </div>

    <div class="sidebar fixed right vertical-center center-text" style="line-height:115px">
        <span class="progress">0%</span>
    </div>

{% endblock %}
{% block js %}
    <script>
        KLoad.addHook('KLoad.DownloadProgress', function (data) {
            var circle_height = document.getElementById('load-circle-inner').height;
            circle_height = circle_height.animVal.value;
            var polygon = circle_height;
            var imageclip = polygon - (data.progress * polygon);
            document.getElementById("load-circle-inner").setAttribute("style", "clip: rect(" + imageclip + "px " + polygon + "px " + polygon + "px 0);");
        })
    </script>
{% endblock %}
