{% extends '@loading/base.twig' %}

{% block title %}Simple | K-Load{% endblock %}

{% block css %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,600">
	<link rel="stylesheet" type="text/css" href="{{assets_theme}}/css/simple.css">
<style>
	body:before { background-image:url({{assets_theme}}/img/particles_red.jpg); }
</style>
{% endblock %}

{% block body %}
	<div class="overlay dark dots"></div>

	<div id="staff" class="sidebar fixed left vertical-center">
	</div>

	<div class="pure-center">
		<div id="load-circle">
			<svg id="load-circle-inner"><circle cx="95" cy="95" r="95" /></svg>
			<img class="avatar circle" src="{{ user.avatarfull|default(assets ~ '/img/avatar.jpg') }}">
		</div>
		<p>{{ user.personaname|default('Welcome') }}</p>
		<span class="messages"></span>
	</div>

	<div class="sidebar fixed right vertical-center center-text" style="line-height:115px">
		<span class="progress">%</span>
	</div>

{% endblock %}
{% block js %}
<script>
function DownloadingFile_custom(file, progress) {
	var circle_height = document.getElementById('load-circle-inner').height;
	circle_height = circle_height.animVal.value;
	var amount = progress*100;
	var polygon = circle_height;
	var imageclip = polygon - ( progress*polygon);
	document.getElementById("load-circle-inner").setAttribute("style", "clip: rect(" + imageclip + "px " + polygon + "px " + polygon + "px 0px);");
}

function GameDetails_custom(servername, serverurl, mapname, maxplayers, steamid, gamemode, demo) {
	showStaff(gamemode);
}

function showStaff(gamemode) {
	if (staff[gamemode] instanceof Array === false) { gamemode = 'global'; 	}
	if (staff[gamemode] instanceof Array) {
		if (staff[gamemode].length > 0) {
			for (var i = 0; i < staff[gamemode].length; i++) {
				var steamid = staff[gamemode][i].steamid || null;
				if (!steamid) { continue; }
				var rank = staff[gamemode][i].rank || 'Staff';

				document.getElementById('staff').appendChild(
					elem('div',{}, [
						elem('img', {className: 'avatar circle', src: site.path+'/api/player/'+steamid+'/avatarmedium/?raw'}),
						elem('span', {className: 'name name_'+steamid, innerText: 'name...'}),
						elem('span', {id: steamid+'_avatar', className: 'rank', innerText: rank})
					])
				);
			}
			var staff_elems = document.getElementById('staff').children;
			var staff_cnt = 0;
			getStaff();
			var staff_interval = setInterval(function(){
				$(staff_elems[staff_cnt]).fadeOut(500, function() {
					staff_cnt++;
					if (staff_cnt >= staff_elems.length) {
						staff_cnt = 0;
					}
					$(staff_elems[staff_cnt]).fadeIn().css("display","inline-block");
				});
			}, 3500);
		} else {
			document.getElementById('staff').style.display = "none";
		}
	} else {
		document.getElementById('staff').style.display = "none";
	}
}
</script>
{% endblock %}
