{% extends 'base.twig' %}

{% block title %}{{ lang('login') }} | K-Load{% endblock %}

{% block body %}
    <div style="z-index: 9999999;position: fixed;top: 0;left: 0;right: 0;padding: 8px 0;background-color: #d02e2e;text-align: center;">
        <h6 style="margin: 0;">Demo site is the same as my local dev, not all things may work</h6>
    </div>
    <div style="height: 100vh" class="valign-wrapper center">
        <div class="card" style="margin-top: -50px;margin-left: auto;margin-right: auto;">
            <div class="card-content" style="padding: 50px">
                <h3 style="margin: 0 0 40px 0">K-Load {{ lang('dashboard') }}</h3>
                <a href="{{ login_url }}"
                   style="padding: 10px 40px;border: 2px solid;border-radius: 50px;color:#66d0ff">{{ lang('login_with_steam') }}
                    <span class="mdi mdi-steam"></span></a>
            </div>
        </div>
    </div>
{% endblock %}