<div class="card">
    <div class="card-header-title">
        <i class="fas fa-question title-icon"></i>{{ lang('gamemode_help') }}
    </div>
    <div class="card-content">
        <p>example gamemodes here</p>
    </div>
</div>