<aside class="sideNav sideNav-fixed menu">
    <div class="has-text-centered">
        <h1 class="logo-text" style="margin-top: .25em">K-Load</h1>
    </div>
    <div class="userInfo has-text-centered">
        <img class="avatar medium" src="{{ user.avatarMedium|default(asset('img/avatar.jpg')) }}">
        <h1 class="name">{{ user.name|default(user.steamid) }}</h1>
        {{ include('@partials/external-link.twig', {link: user.profileUrl, text: user.steamid2, classes: ['steamid2']}) }}
    </div>
    <div>
        <div class="menu-section">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a class="is-active"><i class="fas fa-home"></i>Dashboard</a></li>
                <li><a><i class="fas fa-user-cog"></i>My Settings</a></li>
                <li><a><i class="fas fa-users"></i>Users</a></li>
            </ul>
        </div>
        {% if user.admin %}
            <div class="menu-section">
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    {% if user.super %}
                        <li><a><i class="fas fa-wrench"></i>Core</a></li>
                    {% endif %}
                    {# <li> #}
                    {# <a class="is-active">Manage Your Team</a> #}
                    {# <ul> #}
                    {# <li><a>Members</a></li> #}
                    {# <li><a>Plugins</a></li> #}
                    {# <li><a>Add a member</a></li> #}
                    {# </ul> #}
                    {# </li> #}
                    {% if can('community_name') or can('description') %}
                        <li><a><i class="fas fa-sliders-h"></i>General</a></li>
                    {% endif %}
                    {% if can('backgrounds') %}
                        <li><a><i class="fas fa-images"></i>Backgrounds</a></li>
                    {% endif %}
                    {% if can('messages') %}
                        <li><a><i class="fas fa-comment-alt"></i>Messages</a></li>
                    {% endif %}
                    {% if can('music') %}
                        <li><a><i class="fas fa-headphones"></i>Music</a></li>
                    {% endif %}
                    {% if can('rules') %}
                        <li><a><i class="fas fa-list-ol"></i>Rules</a></li>
                    {% endif %}
                    {% if can('staff') %}
                        <li><a><i class="fas fa-user-tie"></i>Staff</a></li>
                    {% endif %}
                    {% if can('themes') %}
                        <li><a><i class="fas fa-paint-brush"></i>Themes</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    {# <p class="menu-label"> #}
    {# Transactions #}
    {# </p> #}
    {# <ul class="menu-list"> #}
    {# <li><a>Payments</a></li> #}
    {# <li><a>Transfers</a></li> #}
    {# <li><a>Balance</a></li> #}
    {# </ul> #}
    <ul class="menu-list" style="margin-top: auto 0">
        <li>
            <form>

            </form>
            <a style="color: #FF5050"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
    </ul>
</aside>