{% extends '@base/layouts/loading.twig' %}

{% block title %}Theme | K-Load{% endblock %}

{% block body %}
    <div style="margin: auto;max-width: 80%;">
        <div>
            <table>
                <thead>
                <tr>
                    <th>GameDetails</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>server-name</td>
                    <td class="server-name"></td>
                </tr>
                <tr>
                    <td>server-url</td>
                    <td class="server-url"></td>
                </tr>
                <tr>
                    <td>map</td>
                    <td class="map"></td>
                </tr>
                <tr>
                    <td>max-players</td>
                    <td class="max-players"></td>
                </tr>
                <tr>
                    <td>steamid</td>
                    <td class="steamid"></td>
                </tr>
                <tr>
                    <td>gamemode</td>
                    <td class="gamemode"></td>
                </tr>
                <tr>
                    <td>volume</td>
                    <td class="volume"></td>
                </tr>
                <tr>
                    <td>language</td>
                    <td class="language"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}